
@{
    ViewData["Title"] = "SetupView";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/SetupStyles.css" type="text/css" />
    <title>Setup</title>
</head>

    <body>
        <div>
            <h3>Давайте настроем нашу симуляцию</h3>
            <h5>Размер популяции</h5>

            <ul class="horizontal">
                <button class="grayButton">50</button>
                <button class="horizontal">75</button>
                <button class="horizontal">100</button>
            </ul>

            <h5>Вероятность случайных мутаций</h5>
            <input type="text" size="40">
        </div>
    </body>

</html>

