/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgrey;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.white-rectangle {
    position: absolute;
    width: 838px;
    height: 583px;
    margin-left: calc(39% - 838px/2);
    margin-top: calc(23% - 583px/2 - 0.5px);
    background: #fff;
    border-radius: 41px;
}

.welcome-text {
    position: absolute;
    width: 652px;
    height: 139px;
    left: calc(50% - 652px/2);
    top: calc(50% - 139px/2 - 157.5px);
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.about-text {
    position: absolute;
    width: 400px;
    height: 153px;
    left: calc(5%);
    top: calc(40%);
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.bactery-image-container {
    position: absolute;
    width: 100px;
    height: 136px;
    left: calc(50% - 100px/2 + 255px);
    top: calc(50% - 136px/2 + 50.71px);
    transform: rotate(-45deg);
}

.start-btn {
    position: absolute;
    width:355px;
    height: 98px;
    left: 242px;
    right: 241px;
    top: 428px;
    bottom: 57px;
    background: #2FB500;
    border-radius: 33px;
}

.start-txt {
    position: absolute;
    left: 25%;
    top: 31%;
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.big-white-rectangle {
    position: absolute;
    width: 1288px;
    height: 670px;
    left: calc(50% - 1288px/2 + 1px);
    top: calc(61% - 800px/2 - 0.5px);
    background: #FFFFFF;
    border-radius: 41px;
}