@{
    ViewData["Title"] = "Home Page";
}

<div class="white-rectangle mt-5" style="
        margin-top: 40px;
        width: 838px;
        height: 583px;
        background: white;
        border-radius: 41px;">

<text>Добро пожаловать в EvolutionSimulation</text>
    
    
</div>



