@{
    ViewData["Title"] = "Home Page";
}

<div class="white-rectangle">

<text class="welcome-text">Добро пожаловать в EvolutionSimulation</text>
<text class="about-text">В зависимости от выбранных вами параметров
    среды вы сможете получить самые разнообразные результаты: от абсолютно нежизнепособных особей, до биологического
    оружия. Удачи ;)</text>
<div class="start-btn btn-success">
    <text class="start-txt">Начать!</text>
</div>
<div class="bactery-image-container">
    <img src="~/images/Bactery.png" style="transform:rotate(45);"> </img>
    </div>
</div>



