@{
    ViewData["Title"] = "Set parameters";
}


<div class="big-white-rectangle">
    <text class="setup-text">Давайте настроим нашу симуляцию</text>
    <div class="radio">
        <input id="50" type="radio" name="population size" value="50">
        <label for="50">50</label>
        <input id="75" type="radio" name="population size" value="75">
        <label for="75">75</label>
        <input id="100" type="radio" name="population size" value="100">
        <label for="100">100</label>
    </div>
    <input type ="range" min="1" max="99" value="50" width="20" class="mutation-probability-slider">
    </div>